AZURE_SERVICE_GO=https://service-go.ambitiouswater-3b232862.southeastasia.azurecontainerapps.io
AZURE_SERVICE_NODE=https://service-node.ambitiouswater-3b232862.southeastasia.azurecontainerapps.io
AZURE_SERVICE_PYTHON=https://service-python.ambitiouswater-3b232862.southeastasia.azurecontainerapps.io
AZURE_SERVICE_RUBY=https://service-ruby.ambitiouswater-3b232862.southeastasia.azurecontainerapps.io
AZURE_SERVICE_PHP=https://service-php.ambitiouswater-3b232862.southeastasia.azurecontainerapps.io